// ----------------------------------------------
// Icon Size Style
// ----------------------------------------------

.round-8 {
    width: 8px;
    height: 8px;
}

.round-16 {
    width: 16px;
    height: 16px;
  }
  
.round-20 {
    width: 20px !important;
    height: 20px !important;
}

.round {
    width: 45px;
    height: 45px;
}

.round-48 {
    width: 48px;
    height: 48px;
}

.rounded-circle-shape {
    width: 56px;
    height: 40px;
}