// ----------------------------------------------
// Card Style
// ----------------------------------------------

.card-title {
    font-size: 18px;
}

.card-subtitle {
    font-size: 14px;
}

.card {
    margin-bottom: 30px;
}
